* {
	box-sizing: border-box;
	outline: 1px solid red;
}

html,
body {
	padding: 0px;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

img {
	width: 100%;
	height: 100%;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	/* display: flex; */
	width: 100%;
	padding: 1.5em 3em;
	background-color: transparent;
}

.full-screen-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.album-bg {
	display: flex;
	height: 100%;
	width: 100%;
	/* align-items: center;
	justify-content: center; */
}

.mini-player-wrapper {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
}

.mini-player-wrapper .progress-bar {
	height: 1em;
	background-color: grey;
	width: 100%;
	opacity: 50%;
}

.mini-player-wrapper #progress-fill {
	display: block;
	height: 100%;
	width: 30%;
	background-color: black;
	border-radius: 20px;
}

.player .albumArt {
	max-height: 25rem;
	width: 90%;
	object-fit: contain;
	object-position: 50% 50%;
}

.player .control-center {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	margin: 0.5rem;
	padding: 1rem 1rem 0rem 1rem;
	color: grey;
}

.player .track-details {
	margin-bottom: 0.5rem;
}

#track-name {
	font-weight: bold;
	margin-bottom: 0.3rem;
}

#track-land {
	font-size: 0.95rem;
}

/* .progress-bar-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0.5rem;
	padding: 0rem 2rem;
} */

/* .progress-bar {
	height: 0.5rem;
	background-color: grey;
	width: 80%;
	margin: 0rem 1rem;
	opacity: 20%;
	border-radius: 20px;
} */

#progress-fill {
	display: block;
	height: 100%;
	width: 20%;
	background-color: black;
	border-radius: 20px;
}

.progress-bar-time {
	font-size: 0.85rem;
}

.player-controls {
	display: flex;
	width: 80%;
	align-self: center;
	justify-content: space-between;
}

.secondary-controls i {
	font-size: 14px;
}

.controls-btn {
	color: black;
	border: transparent;
	background-color: transparent;
	font-size: 1.25rem;
	opacity: 50%;
	cursor: pointer;
}

/* .main-controls {
	margin: 0px 20px;
} */

.play-btn {
	margin: 0rem 1rem;
}

button:disabled,
button[disabled] {
	opacity: 10%;
}

/* Left Column */
.playlist-roster {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
}

.album-summary {
	display: flex;
	align-items: top;
	margin-bottom: 1rem;
}

#playlist-thumbnail {
	height: 6rem;
	width: 5rem;
}

#land-tagline {
	margin-bottom: 1rem;
	margin-left: 1rem;
	color: grey;
}

.tracklist-wrapper {
	background-color: gainsboro;
	height: 100%;
	padding: 1rem;
	margin-bottom: 0.5rem;
	overflow-y: scroll;
	border-radius: 0.5rem;
}

.track-listing {
	text-align: left;
	border: none;
	background-color: transparent;
	margin-bottom: 0.3rem;
}

/* TODO: Add transition for hover so it is not jumpy */
.track-listing:hover {
	border-bottom: 1px solid grey;
}

.current-track {
	font-weight: bold;
}

.albums-wrapper {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: no-wrap;

	/* affix row to bottom of app wrapper/screen */
	margin-top: auto;

	overflow-x: scroll;
	scroll-snap-type: x;

	user-select: none;
	cursor: pointer;
	/* padding: 1rem 0rem 1rem; */

	/* add for ios devices */
	-webkit-overflow-scrolling: touch;
}

/* Hide horizontal scrollbar on container */
.project-teaser-scroller::-webkit-scrollbar {
	display: none;
}

.land-playlist-card {
	width: 5rem;
	margin-right: 1.85rem;
	object-fit: contain;
	object-position: 50% 50%;
}

@media only screen and (max-width: 768px) {
	.page-wrapper {
		flex-direction: column;
	}

	.player-wrapper {
		flex-direction: column;
		/* height: 80vh; */
	}

	.control-center {
		padding: 0rem !important;
	}

	.player-controls {
		width: 100%;
	}

	.playlist-roster {
		display: none;
	}
}
