* {
	box-sizing: border-box;
	/* outline: 2px solid red; */
}

html,
body {
	padding: 0px;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	height: 100vh;
}

/* Top Row - Player */
.player-wrapper {
	width: 100%;
	display: flex;
	/* margin-bottom: 2rem; */
}

.player {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1rem;
	font-size: 1rem;
}

.player .albumArt {
	max-height: 25rem;
	width: 100%;
}

.player .control-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 0.5rem;
	padding: 1rem 1rem 0rem 1rem;
	color: grey;
}

.player .track-details {
	margin-bottom: 0.5rem;
}

#track-name {
	font-weight: bold;
	margin-bottom: 0.3rem;
}

#track-land {
	font-size: 0.95rem;
}

.progress-bar-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0.5rem;
	padding: 0rem 2rem;
}

.progress-bar {
	height: 0.5rem;
	background-color: grey;
	width: 80%;
	margin: 0rem 1rem;
	opacity: 20%;
	border-radius: 20px;
}

#progress-fill {
	display: block;
	height: 100%;
	width: 20%;
	background-color: black;
	border-radius: 20px;
}

.progress-bar-time {
	font-size: 0.85rem;
}

.controls-btn {
	color: black;
	border: transparent;
	background-color: transparent;
	font-size: 1.25rem;
	opacity: 50%;
	cursor: pointer;
}

.play-btn {
	margin: 0rem 1rem;
}

.disabled {
	color: greenyellow;
}

/* Left Column */
.playlist-roster {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
}

.album-summary {
	display: flex;
	align-items: top;
	margin-bottom: 1rem;
}

#playlist-thumbnail {
	height: 7rem;
}

#land-tagline {
	margin-bottom: 1rem;
	margin-left: 1rem;
	color: grey;
}

.tracklist-wrapper {
	background-color: gainsboro;
	height: 100%;
	padding: 1rem;
	margin-bottom: 0.5rem;
	overflow-y: scroll;
	border-radius: 0.5rem;
}

.track-listing {
	text-align: left;
	border: none;
	background-color: transparent;
	margin-bottom: 0.3rem;
}

/* TODO: Add transition for hover so it is not jumpy */
.track-listing:hover {
	border-bottom: 1px solid grey;
}

.current-track {
	background-color: grey;
	color: white;
}

.albums-wrapper {
	display: flex;
	flex: 3;
	flex-wrap: no-wrap;

	/* affix row to bottom of app wrapper/screen */
	margin-top: auto;

	overflow-x: scroll;
	scroll-snap-type: x;
	align-items: center;

	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	/* padding: 1rem 0rem 1rem; */

	/* add for ios devices */
	-webkit-overflow-scrolling: touch;
}

/* Hide horizontal scrollbar on container */
.project-teaser-scroller::-webkit-scrollbar {
	display: none;
}

.land-playlist-card {
	height: 8.75rem;
	width: 8.125rem;
	margin-right: 1.85rem;
}

@media only screen and (max-width: 768px) {
	.page-wrapper {
		flex-direction: column;
	}

	.player-wrapper {
		flex-direction: column;
		height: 80vh;
	}

	.playlist-roster {
		display: none;
	}
}
