* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

html,
body {
	padding: 0px;
	margin: 0px;
	background: gainsboro;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	width: 100%;
	justify-content: center;
}

/* Define row and column utility classes */

.player-wrapper {
	background-color: pink;
	height: 100%;
	width: 100%;
	display: flex;
	padding: 2rem;
}

.player {
	justify-content: center;
	flex: 1;
	outline: 1px solid black;
}

.playlist-roster {
	flex: 1;
	display: flex;
	flex-direction: column;
	outline: 1px solid red;
	padding: 1rem;
}

.albums-wrapper {
	padding: 2rem;
	display: flex;
	width: 100%;
	flex-wrap: no-wrap;
	/* justify-content: space-between; */
	margin-top: auto;
}

.land-playlist-card {
	height: 150px;
	margin-right: 20px;
	border-radius: 10px;
}

@media only screen and (max-width: 768px) {
	.page-wrapper {
		flex-direction: column;
	}

	.player-wrapper {
		flex-direction: column;
	}
}
